<div class="bg-[#2A354B] w-full h-full flex flex-col items-center justify-between p-16 rounded-lg">
  <div class="text-center">
    <span class="text-9xl font-extrabold text-white tracking-wider">CG-001N</span>
    <p class="text-5xl text-gray-200 mt-4">CLINICO GERAL</p>
    <p class="text-6xl text-white font-semibold mt-8">JULIO HEBERT</p>
  </div>

  <div class="bg-[#1DDEB4] w-full py-6 text-center rounded-lg">
    <span class="text-7xl font-bold text-[#2A354B]">Guichê 2</span>
  </div>
</div>
